# Build artifacts .NET
bin/
obj/

# Frontend (Vite + React)
node_modules/
dist/

# Confidential informations
appsettings.Development.json
appsettings.Production.json
*/appsettings.json
*.env
.env

# Visual Studio / Rider / VS Code
.vs/
.vscode/
*.user
*.suo
.idea/

# macOS
.DS_Store

# Logs
*.log

# Fichiers Docker locaux si tu as un docker-compose.override.yml
docker-compose.override.yml


.freebuff